In [66]:
import pandas as pd
import seaborn as sns

In [68]:
df = sns.load_dataset('titanic')

## copy

In [71]:
df_copy = df.copy()

In [72]:
id(df_copy), id(df)

(5257296288, 5257292704)

In [73]:
df_copy.loc[0, 'age'] = 99999

In [75]:
df_copy.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,99999.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [76]:
df.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [77]:
df_copy = df.copy()

## 결측치
1. 결측 데이터 **확인**
2. 결측치가 아닌 데이터 확인
-----------
1. 결측치 채우기
2. 결측 데이터 제거하기

In [80]:
df_copy.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df_copy['age'] = df_copy['age'].fillna(age_mean)